.header1 {
  margin-top: 150px;
  font-size: 20px;
  text-align: center;
}

.header2 {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  margin: 20px 0px 10px 0px;
}

.sensorWraper {
  border: 2px solid #d1d1d1;
  margin-bottom: 10px;
  border-radius: 10px;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
}

.link {
  text-decoration: none;
  color: #474747;
}

.temperature {
  color: rgb(16, 112, 16);
}

.alert {
  color: rgb(173, 13, 34);
}
